.view-weather-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0rem auto;
    border: 1.5px solid #e3507d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .selected-location-weather {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        p {
            color: whitesmoke;
        }            
    }

    .search-location {
        .search-location-wrapper {
            background-color: #8d80f6;
            width: 15vw;
            border-radius: 8px;
            height: 3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            input {
                background-color: transparent;
                border: none;
                height: 100%;
                font-size: 1rem;
                width: calc(100% - 15px) !important;
                margin: 0 15px;
                &:focus {
                    outline: none;
                    color: #efefef;
                }
            }

        }    
        .results-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 15vw;
            margin-top: 1px;
            background: none;
            border-radius: 8px;
            overflow: hidden;
            .search-location-result {
                padding: 10px 20px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                font-size: 10px;
                flex-wrap: wrap;
                border: 0.1px solid rgba(0, 0, 0, 0.1);
                background-color: rgba(0, 0, 0, 0.8);
                p {
                    color: whitesmoke;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}