@media screen and (min-width: 1080px) {
    .auth-wrapper {
        position:fixed;
        padding:0;
        margin:0;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: rgba(52,46,60,255);
        .auth-box {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 720px;
			margin: 5rem auto;
			border: 1.5px solid #e3507d;
            .logo {
                position: relative;
                width: 300px;
            }
            .page {                                     // Login or Register page
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
				justify-content: flex-start;
                position: relative;
                input{
                    width: 210px;
                    height: 30px;
                    margin: 10px;
                    background-color: rgba(20, 1, 86, 1);
                    border: none;
                    color: whitesmoke;
                    padding: 5px;
                    text-align: center;
                    font-weight: 600;
                    appearance: none;
                }
                .text {
                    margin-top: 10px;
                    font-weight: 500;
                }
                .error {
                    color: whitesmoke;
                    margin-top: 10px;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
    }
}