/* todo-list.scss */
.todo-list {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #140156;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    border: 2px solid #e3507d;

    h1 {
        font-size: 24px;
        color: whitesmoke;
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-weight: 600;
        appearance: none;
        &:focus {
            border: none;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .todo-item {
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin-bottom: 15px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: #f0f0f0;
        }

        strong {
            font-weight: bold;
            color: #555;
        }
    }

    .create-todo {
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        button {
            cursor: pointer;
            width: 220px;
            height: 40px;
            margin: 10px;
            background-color: #140156;
            border: 2px solid #e3507d;
            color: #e3507d;
            font-weight: 400;
            span {
                color: #e3507d;
                font-weight: 600;
            }
            &:hover {
                background-color: #e3507d;
                color: whitesmoke;
                span {
                    color: whitesmoke;
                }
            }
            &:active:enabled {
                transform: scale(0.95);
            }
        }

        .title {
            width: 210px;
            height: 30px;
            margin: 10px;
            border: 2px solid #e3507d;
            padding: 5px;
            text-align: center;
            font-weight: 600;
            appearance: none;
            background-color: rgba(20, 1, 86, 1);
            color: #e3507d;
            &:hover {
                background-color: #e3507d;
                color: whitesmoke;
            }
        }

        .range-slider-container {
            width: 220px;
            height: 40px;
            margin: 10px;
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: rgba(20, 1, 86, 1);
            border: 2px solid #e3507d;

            .slider {
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                transition: opacity 0.2s;
                cursor: pointer;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 0;
                    height: 0;
                }
            }
        
            .slider-value {
                position: relative;
                top: -1px;
                right: 1px;
                text-align: center;
                color: #d3d3d3;
            }
        }
    }
        
    button {
        cursor: pointer;
        width: 220px;
        height: 40px;
        margin: 10px;
        background-color: #140156;
        border: 2px solid #e3507d;
        color: #e3507d;
        font-weight: 400;
        span {
            color: #e3507d;
            font-weight: 600;
        }
        &:hover {
            background-color: #e3507d;
            color: whitesmoke;
            span {
                color: whitesmoke;
            }
        }
        &:active:enabled {
            transform: scale(0.95);
        }
    }
}