* {
    padding: 0;
    margin: 0;
    text-rendering: optimizeSpeed;
    color: black;
    font-size: 17px;
    outline: none;
    user-select: none;
    &:focus {
        outline: none;
    }
}

.App {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(52,46,60,255);
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    overflow: auto;
}

.custom-button {
    cursor: pointer;
    width: 220px;
    height: 40px;
    margin: 10px;
    background-color: #140156;
    border: 2px solid #e3507d;
    color: #e3507d;
    font-weight: 400;
    span {
        color: #e3507d;
        font-weight: 600;
    }
    &:hover {
        background-color: #e3507d;
        color: whitesmoke;
        span {
            color: whitesmoke;
        }
    }
    &:active:enabled {
        transform: scale(0.95);
    }
}