* {
    padding: 0;
    margin: 0;
    text-rendering: optimizeSpeed;
    color: black;
    font-size: 17px;
    outline: none;
    user-select: none;
    &:focus {
        outline: none;
    }
}

#app {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 5px;
}

.logout-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 180px;
    height: 40px;
    margin: 5px;
    background-color: #140156;
    border: 2px solid #e3507d;
    color: #e3507d;
    font-weight: 400;
    span {
        color: #e3507d;
        font-weight: 600;
    }
    &:hover {
        background-color: #e3507d;
        color: whitesmoke;
        span {
            color: whitesmoke;
        }
    }
    &:active:enabled {
        transform: scale(0.95);
    }
}