/* todo-list.scss */
.scaffold {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    height: 100%;
    margin: 2rem auto;
    border: 1.5px solid #e3507d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    h1 {
        font-size: 26px;
        color: #e3507d;
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-weight: 600;
        appearance: none;
        &:focus {
            border: none;
        }
    }
    
    .upper-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .create-todo {
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin: 15px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        button {
            cursor: pointer;
            width: 220px;
            height: 40px;
            margin: 10px;
            background-color: #140156;
            border: 2px solid #e3507d;
            color: #e3507d;
            font-weight: 400;
            span {
                color: #e3507d;
                font-weight: 600;
            }
            &:hover {
                background-color: #e3507d;
                color: whitesmoke;
                span {
                    color: whitesmoke;
                }
            }
            &:active:enabled {
                transform: scale(0.95);
            }
        }

        .title {
            width: 210px;
            height: 30px;
            margin: 10px;
            border: 2px solid #e3507d;
            padding: 5px;
            text-align: center;
            font-weight: 600;
            appearance: none;
            background-color: rgba(20, 1, 86, 1);
            color: #e3507d;
            &:hover {
                background-color: #e3507d;
                color: whitesmoke;
            }
        }

        .range-slider-container {
            width: 220px;
            height: 40px;
            margin: 10px;
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: rgba(20, 1, 86, 1);
            border: 2px solid #e3507d;

            .slider {
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                transition: opacity 0.2s;
                cursor: pointer;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 0;
                    height: 0;
                }
            }
        
            .slider-value {
                position: relative;
                top: -1px;
                right: 1px;
                text-align: center;
                color: #d3d3d3;
            }
        }
    }

    .todo-list {
        list-style-type: none;
        .todo-item-card {
            background-color: #eee;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 15px;
            transition: background-color 0.3s ease-in-out;
            display: flex;
            flex: row;
            justify-content: space-between;
            &:hover {
                background-color: #f0f0f0;
            }
            .edit-todo-form {
                .title {
                    width: 210px;
                    height: 30px;
                    border: 2px solid #e3507d;
                    padding: 5px;
                    text-align: center;
                    font-weight: 600;
                    appearance: none;
                    background-color: rgba(20, 1, 86, 0.7);
                    color: #e3507d;
                    &:hover {
                        background-color: #e3507d;
                        color: whitesmoke;
                    }
                }
            }
            .todo-card-header {
                font-weight: bold;
                color: rgba(0, 0, 0, 0.8);
                font-size: 22px;
                padding: 10px;
                text-align: center;
                cursor: text;
            }
            .todo-card-options {
                color: #666;
                display: flex;
                flex: row;
            }
        }
    }
    button {
        cursor: pointer;
        width: 100px;
        height: 40px;
        margin: 2px;
        background-color: #140156;
        border: 1.5px solid #e3507d;
        color: #e3507d;
        font-weight: 400;
        span {
            color: #e3507d;
            font-weight: 600;
        }
        &:hover {
            background-color: #e3507d;
            color: whitesmoke;
            span {
                color: whitesmoke;
            }
        }
        &:active:enabled {
            transform: scale(0.95);
        }
    }
}